---
import Layout from "@/layouts/root-layout.astro"
import SectionLayout from "@/components/SectionLayout"
import ProjectsSection from "@/components/islands/ProjectsSection";
import { PenRulerIcon, ProjectSheetIcon, LinkedInIcon, DribbbleIcon, FiverrIcon } from "@/components/icons";
import ritrattoImg from "@/static/images/ritratto.webp";
import { Image } from '@astrojs/image/components';
import SOCIAL_LINKS from "@/static/data/social-links";
---

<Layout>
	{/* Header */}
	<header class="lg:grid grid-cols-2 mb-24">
		<div class="flex justify-center lg:justify-end">
			<div class="lg:mx-8 max-w-xl">
				<Image src={ritrattoImg} alt="Ritratto" height={916} width={706} loading="lazy" />
			</div>
		</div>
		<div class="flex flex-col justify-center max-w-md mt-12 lg:mt-0 mx-4 sm:mx-auto lg:ml-0">
			<h1 class="font-syne text-3xl lg:text-4xl xl:text-5xl font-semibold">
				Ciao 👋 
				<br> 
				sono Marilea Minasi e amo il Design
			</h1>
			<div class="mt-10 lg:mt-12 space-x-6">
				<a href="#contatti" class="bg-primary text-white py-3 px-6 rounded-xl font-light transition-opacity hover:opacity-90">Contattami</a>
				<a download class="underline hover:text-primary transition-colors" href="/Marilea_Minasi_CV_2022.pdf">Scarica CV</a>
			</div>
			<div class="flex space-x-4 sm:space-x-6 mt-8">
				<a href={SOCIAL_LINKS.LINKEDIN} target="_blank">
					<LinkedInIcon className="h-10 w-10 text-secondary hover:text-primary transition-colors" />
				</a>
				<a href={SOCIAL_LINKS.DRIBBBLE} target="_blank">
					<DribbbleIcon className="h-10 w-10 text-secondary hover:text-primary transition-colors" />
				</a>
				<a href={SOCIAL_LINKS.FIVERR} target="_blank">				
					<FiverrIcon className="h-10 w-10 text-secondary hover:text-primary transition-colors" />
				</a>
			</div>
		</div>
	</header>

	<main>
		{/* I miei servizi */}
		<section id="servizi" class="my-12">
			<SectionLayout title="I miei servizi">
				<div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
					<div>
						<ProjectSheetIcon class="w-8 sm:w-12 h-8 sm:h-12 text-secondary" />
						<h3 class="text-2xl font-syne mt-4">UI | UX Design</h3>
						<p class="text-sm sm:text-base mt-2 text-gray-800 sm:max-w-md">Al momento sto studiando e lavorando come UI | UX Designer. Ho finora realizzato diverse landing page per siti web e interfacce di app di vario tipo.</p>
					</div>
					<div>
						<PenRulerIcon class="w-8 sm:w-12 h-8 sm:h-12 text-secondary" />
						<h3 class="text-xl sm:text-2xl font-syne mt-4">Graphic Design</h3>
						<p class="text-sm sm:text-base mt-2 text-gray-800 sm:max-w-md">Ho esperienza nel mondo della grafica social e non solo. Realizzo poster, volantini, brand identity, loghi, post social, moodboard e tanto altro.</p>
					</div>
				</div>
			</SectionLayout>
		</section>

		{/* Progetti */}
		<section id="i-miei-lavori" class="my-16 sm:my-24">
			<ProjectsSection client:idle />
		</section>
	</main>

	{/* Contattami */}
	<section id="contatti">			
		<SectionLayout title="Parliamo!">
			<div class="grid gap-6 grid-cols-1 sm:grid-cols-2">
				<div class="space-y-4">
					<a href={SOCIAL_LINKS.LINKEDIN} target="_blank" class="flex items-center space-x-3 text-black font-thin">
						<LinkedInIcon className="inline h-6 w-6" />
						<span>Marilea Minasi</span>
					</a>
					<a href={SOCIAL_LINKS.DRIBBBLE} target="_blank" class="flex items-center space-x-3 text-black font-thin">
						<DribbbleIcon className="inline h-6 w-6" />
						<span>dribbble.com/minasi</span>
					</a>
					<a href={SOCIAL_LINKS.FIVERR} target="_blank" class="flex items-center space-x-3 text-black font-thin">
						<FiverrIcon className="inline h-6 w-6" />
						<span>holycannolo</span>
					</a>
				</div>
				<div>
					<h3 class="text-2xl font-syne font-semibold">e-mail</h3>
					<a href="mailto:holycannolo@gmail.com">holycannolo@gmail.com</a>
				</div>			
			</div>
		</SectionLayout>
	</section>
</Layout>
